.todo {
    display: inline-block;
    width: 400px;
    min-height: 300px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .4);
}

.todo .todo-header {
    color: #fff;
    padding: 20px 5px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(45, 192, 45);
}

.todo .todo-header h1 {
    margin: unset;
    padding: unset;
    text-align: center;
    text-transform: capitalize;
}

.todo .todo-cpanel {
    /* width: ; */
    padding: 0px 5px;
    margin: auto;
    margin-bottom: 30px;
}

.todo .todo-cpanel .input-control {
    display: block;
    width: fit-content;
    margin: 0px auto 10px auto;
}

.todo .todo-cpanel input {
    width: 250px;
    height: 30px;
    font-size: 11pt;
    border-radius: 5px;
    border-style: solid;
}

.todo .todo-cpanel .button-list {
    width: fit-content;
    margin: auto;
}

.todo .todo-cpanel button {
    height: 36px;
    color: #fff;
    padding: 5px 10px;
    margin: 0px 4px;
    border: unset;
    border-radius: 5px;
    background-color: rgb(22, 22, 221);
}

.todo .todo-cpanel button:hover {
    background-color: rgb(41, 41, 248);
}

.todo .todo-cpanel button:active {
    background-color: rgb(22, 22, 221);
}
    
.todo .todo-list {
    display: block;
    margin: auto;
    overflow-y: scroll;
    padding: 0px 5px 0px 15px;
}

.todo .todo-list .item td:first-child {
    width: 100%;
}

.todo .todo-list .item.selected:hover,
.todo .todo-list .item:hover {
    /* color: inherit; */
    background-color: rgba(32, 165, 218, 0.63);
}

.todo .todo-list .item.selected {
    /* color: white; */
    background-color: #00000044;
}

.todo .todo-list button {
    font-size: 14pt;
    padding: 5px 15px;
    border: unset;
    background-color: unset;
}

.todo .todo-list button:hover {
    background-color: #ccc;
}

.todo .todo-list p {
    margin: 50px;
    text-align: center;
    font-style: italic;
    color: rgb(85, 87, 85);
}
